

html {  
  background: radial-gradient(circle, #fff 0%, #bbb 85%) ; background: -webkit-radial-gradient(circle, #fff 0%, #bbb 85%); 
}

body{
  height: 80%; width:80%;
}

h2{
  position: absolute;
  left: 58%;
  right: 50px;
  top: 20%;
  bottom: 50px;
}
h3{
  position: absolute;
  left: 58%;
  right: 50px;
  top: 45%;
  bottom: 50px;
}
h1{
  position: absolute;
  left: 57%;
  right: 50px;
  top: 30%;
  bottom: 50px;
}