html {
  background: url("../img/haikei.jpg");
  background-size: center;
}
h1{
  color:#FFF;
  text-shadow:0px 0px 10px #FFF;
 }
div{
  padding-top: 50px;
}
img{
  margin:auto;
  border-radius: 50%;
}
img:hover {
  opacity: 0.7;
}

body {
  text-align:center;
}


