#A01:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}
#A02:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}
#A03:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}
#A04:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}
#A05:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}
#A06:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}
#A01_2:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}
#A02_2:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}
#A03_2:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}
#A04_2:hover {
  opacity: 0.9;  /** 対象にカーソルをあてると薄くなる **/
}


html {height: 100%}
body { text-align:center; background: radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat; background: -webkit-radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat; height: 100%; display:table; width:100%}
